@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --img_size: 200px;
}

html,
body {
  font-family: "Noto Serif", var(--nc-font-sans);
}

h1 {
  font-size: 2.875rem !important;
  color: transparent !important;
  background: linear-gradient(to bottom, var(--nc-lk-1), var(--nc-ac-1));
  background-clip: text;
  -webkit-background-clip: text;
}

h2:before {
  content: "\0023";
  margin-right: 0.5rem;
  color: var(--nc-bg-3);
}

h1,
h2,
h3 {
  border: none !important;
}

h3 {
  padding-top: 0 !important;
  @media (width<= 576px) {
    padding-top: 0.875rem !important;
  }
}

article {
  --space: 2rem;
  margin-block: var(--space) !important;
}

img {
  max-width: var(--img_size) !important;
  width: 100%;
  float: left;
  margin-right: var(--space);
  aspect-ratio: 1/1;
  object-fit: cover;
  border: 2px solid var(--nc-bg-3);
  border-block: 4px solid var(--nc-bg-3);
  border-radius: 0.25rem;
  background-color: var(--nc-bg-2);
  @media (width<= 576px) {
    max-width: none !important;
    float: none;
    margin-right: 0;
    margin-bottom: 1rem;
    aspect-ratio: 1/0.5;
    object-position: top;
  }
}

mark.error {
  background-color: red !important;
}
