@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --font-fallback:
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Arial", "Helvetica Neue", sans-serif;
  --font-sans: "IBM Plex Sans", var(--font-fallback);
  --font-mono: "IBM Plex Mono", monospace;
  --max-w: 56rem;
  --nav-h: 4rem;

  --color-primary: oklch(0.9967 0.0013 106.42);
  --color-secondary: oklch(0.9703 0.007 88.64);
  --color-tertiary: oklch(0.235 0 0);
  --color-accent: oklch(0.293 0.0179 93.31);
  --color-accent--secondary: oklch(0.4582 0.0416 65.09);
  --color-line: --alpha(var(--color-tertiary) / 25%);
}

@variant dark {
  --color-primary: oklch(0.1547 0.0045 84.57);
  --color-secondary: oklch(0.2039 0.0097 97.83);
  --color-tertiary: oklch(0.8924 0.0241 88.24);
  --color-accent--secondary: oklch(0.6654 0.051 65.73);
}

@layer base {
  html,
  body {
    @apply bg-primary text-tertiary min-h-screen scroll-smooth antialiased [scrollbar-color:var(--color-accent--secondary)_var(--color-secondary)];
  }

  main#app {
    @apply grid min-h-screen grid-cols-1 grid-rows-[auto_1fr_auto] gap-16;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    @apply cursor-pointer;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply pb-2 font-bold tracking-tight;
  }

  h1 {
    @apply after:text-accent--secondary text-4xl md:text-5xl;
  }

  h2 {
    @apply [scroll-margin-top:var(--nav-h)] text-2xl;
  }

  p {
    @apply mb-6;
    &:has(+ h2) {
      @apply mb-(--nav-h);
    }
  }

  a {
    @apply text-accent--secondary hover:bg-accent--secondary/10 underline;
  }

  ul {
    @apply mb-6 ml-5 list-item list-disc;
    &:has(+ h2) {
      @apply mb-(--nav-h);
    }
  }

  code {
    @apply text-sm/none font-semibold before:content-["\0060"] after:content-["\0060"];
  }
}

@utility container {
  @apply mx-auto w-11/12 max-w-(--max-w);
}
